@charset “UTF-8”;
@import url('https://fonts.googleapis.com/css2?family=Krub:ital,wght@0,200;0,400;0,700;1,200;1,400&display=swap');

* {
	margin: 0;
	box-sizing: border-box;
}
body{
	background-color: black;
	font-family: 'Krub', sans-serif;
	background-image: -webkit-linear-gradient(to top, #383836 0%, black 100%);
    background-image: -moz-linear-gradient(to top, #383836 0%, black 100%);
    background-image: -o-linear-gradient(to top, #383836 0%, black 100%);
    background-image: linear-gradient(to top, #383836 0%, black 100%);
}

/* styles for the header   */
header{
    background-color: cadetblue;
    text-align: center;
	
}
header img{
    max-width: 300px;
	
}
/* styles for the fixed nav   */
#fixed{
	position: fixed;
	width: 100%;
	top: 0;
}
/* styles for the nav   */
#nav_menu ul {
	list-style: none;
	display: flex;
    justify-content: center;
    position: relative;
    background-color: #4d4b47;
	padding: 0;
	
}
#nav_menu ul li {
	float: left;
}
#nav_menu ul ul {
	display: none;
	position: absolute;
	top: 100%;
}
#nav_menu ul ul li {
	float: none;
}
#nav_menu ul li:hover > ul {
	display: block;
}
#nav_menu > ul::after {
	content: "";
	clear: both;
	display: block;
}
#nav_menu ul li a {
	text-align: center;
	display: block;
	padding: 10px;
	background-color: #4d4b47;
	color: whitesmoke;
    text-decoration: none;
    text-shadow: 3px 3px 9px black;
    font-size: 110%;
}
#nav_menu ul li a.current_page {
	color: cadetblue;
}
#nav_menu ul li a:hover, #nav_menu ul li a:focus {
	background-color: dimgrey;
}

/* styles for the main words */

main h1{
    text-align: center;
    font-size: 200%;
	color: cadetblue;
	margin-top: 200px;
}
main h2{
    text-align: center;
    padding-top: 1.5%;
	font-size: 150%;
	color: cadetblue;
}
#quote {
    font-size: 150%;
    display: flex;
    justify-content: center;
	color: whitesmoke;
	font-style: italic;
	font-weight: 200;
	margin-top: 200px;
	padding: 0 3%;
	text-align: center;
}
main p{
    font-size: 120%;
	color: whitesmoke;
	font-weight: 200;
	margin-right: 15px
}
main a{
    text-decoration: none;
	color: cadetblue;
	font-weight: 700;
	font-style: italic
}
#details{
	padding: 0 0 4% 0;
	font-style: italic;
}
.miscinfo{
	padding: 1.5% 3% 3%;
}

/* styles for the homepage */

#desktop{
	max-width: 70%;
	display: block;
	margin: auto;
	}

#mobile{
	display: none
}


/* styles for the about me  */

#signature{
	padding: 3% 0;
	max-width: 400px
}
#aboutme{
    display: flex;
	justify-content: center
	
}
#aboutme div{
    width: 50%;
	padding: 3%
   
}
#aboutme div img{
    object-fit: cover;
    width: 80%;
	display: block;
	margin: auto
}
/* styles for the portfolio and misc */

#other-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

}

#other-content div {
	width: 50%;
	padding: 1.5% 3%;
}

#other-content div img {
	width: 100%;
	object-fit: cover;
}
#topmisc{
	padding: 3% 10%
}
/* styles for the main portfolio content */

#top-portfolio{
    display: flex;
    justify-content: center
}
#top-portfolio div{
    width: 50%;
    padding: 3%;
}
#top-portfolio img{
    width: 100%;
    object-fit: cover;
}

.main-content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.main-content div{
    width: 30%;
    padding: 3%;
}
.main-content img{
    object-fit: cover;
    width: 100%
    
}
#spread img{
    max-width: 84%;
	display: block;
	margin: 0 auto;

}
#spread h2{
	padding: .4em 0 1.1em 0
}

#topspread{
	padding-top: 1.5em
}
/* styles for the 404  */

#error {
	height: 100vh;
	display: flex;
	flex-flow: column;
	justify-content: center
	}

#error img{
	width: 140px;
	position: relative;
	top: 15%;
	
}
#error h1{
	font-size: 800%;
    color: whitesmoke;
	font-weight: 400;
	margin-bottom: 0
}
#error h2{
	padding-top: 0;
	font-size: 200%;
	
}
#error a{
	text-align: center;
	color: whitesmoke;
	font-style: normal;
	padding: 10px;
	font-size: 150%;
	border-radius: 14px;
	margin: 10px 42%;
	background: #4d4b47;
	text-shadow: 3px 3px 9px black;
	
	
	
}

#error a:hover{
	color: cadetblue
}









/* styles for the footer  */
footer{
    background-color: cadetblue;
    text-align: center;
    text-shadow: 3px 3px 9px black;
    padding-bottom: .4em
}
footer img{
    max-width: 200px;
}
footer a{
    text-decoration: none;
    color: white;
    padding: 0 10px
}
footer a:hover {
	color: black;
}

footer a:active {
	color: navy
}
#mobile_menu {
	display: none;
}

/* tablet portrait */
@media only screen and (max-width: 767px) {
    #nav_menu {
		display: none;
	}
	#mobile_menu {
		display: block;
	}
	.slicknav_menu {
		background-color: #4d4b47 !important;
	}
	#mobile_menu ul li a:hover, #nav_menu ul li a:focus {
	background-color: gray;
	}
	
	#mobile_menu a:hover {
		color: white;
	}
	#mobile_menu a{
		background-color: #4d4b47;
	}

	main h1{
		font-size: 175%
	}
	main h2{
		font-size: 125%;
		padding-bottom: .5em
	}
	main p{
		font-size: 100%;
		padding: 0 3%;
		}
	#quote{
		font-size: 100%
		
	}
	header img{
		max-width: 250px
	}
	footer img{
		max-width: 150px
	}
	footer a{
		font-size: 80%
		
	}

#aboutme div{
    width: 50%;
	padding: 0
   }
.main-content div{
    width: 45%;
    padding: 3%;
}

#top-portfolio{
    display: flex;
    flex-flow: wrap
}
#top-portfolio div{
    width: 90%;
    padding: 0 3%;
}
#details{
	padding: 2% 0
}
	#error a {
		margin: 0 30%
		
	}


}


/* mobile portrait  */
@media only screen and (max-width: 500px) {
	#desktop{
		display: none;
	}
	#mobile{
		display: block;
		margin: auto
	}
	
	main h1{
		font-size: 150%;
		margin-top: 175px;
	}
	#quote{
		font-size: 100%;
		padding: 
	}
	main p{
		font-size: 80%;
		
	}
	main h2{
		font-size: 100%
	}
	header img{
		max-width: 200px
	}
	footer img{
		max-width: 125px;
	}

	footer a{
		font-size: 60%
	}
	#aboutme {
    display: flex;
	flex-flow: wrap
    
}
#aboutme div{
    width: 90%;
    padding: 3%;
}
#aboutme div img{
	width: 100%
	}
#other-content {
	display: flex;
		}

#other-content div {
	width: 90%;
	padding: 3%
		}
#top-portfolio{
    display: flex;
    flex-flow: wrap
}
#top-portfolio div{
    width: 90%;
    padding: 0 3%;
}

.main-content{
    display: flex;
    flex-wrap: wrap;
}
.main-content div{
    width: 90%;
    padding: 3%;
}
}